type file
id
    VainZero.FsYaml
owners
    vain0
version
    2.2.0
authors
    bleis-tift, hafuu, vain0
projectUrl
    http://github.com/vain0/FsYaml
licenseUrl
    http://github.com/bleis-tift/FsYaml/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
tags
    f# yaml
description
    Type safe Yaml library for F#.
dependencies
    FSharp.Configuration = 0.6.4
    YamlDotNet ~> 4.0 >= 4.1.0
